@page "/"
@using grpcStuff
@inject KorisniciServ.KorisniciServClient _ksc

<h1>Hello, world!</h1>
<button @onclick="Nesto">Test</button>

@code
{
	private async Task Nesto()
	{
		await _ksc.IzlistajKorisnikeAsync(new KorisnikMsg());
	}
}
